<!-- Style Modal -->
<div id="modal" class="hide">
    <div class="content">
        <div class="header">
            <h1>Collection points</h1>
            <a href="/">Close</a>
        </div>
        <form action="/search">
            <label for="search">Cities or states</label>
            <div class="search field">
                <input type="text" name="search" placeholder="Enter city or state">
                <button>
                    <img src="/assets/search.svg" alt="Search">
                </button>
            </div>
        </form>
    </div>
</div>